<div class="box">
  <form class="form-group pt-2 pb-2 pe-3 ps-3 d-flex flex-column align-items-center"
  #f="ngForm" (ngSubmit)="f.form.valid && addPerson()">
    <input
      type="text"
      name="Name"
      id="Name"
      placeholder="Name"
      class="form-control"
      [(ngModel)]="nameInput"
      required
    />
    <input
      type="text"
      name="LastName"
      id="LastName"
      placeholder="LastName"
      class="form-control"
      [(ngModel)]="lastNameInput"
      required
    />
    <button type="submit" class=" btn btn-primary">
      <p *ngIf="!isEdit; else templateElse">Agregar nueva persona</p>
      <ng-template #templateElse>
        <p >Editar persona</p>
      </ng-template>
    </button>
  </form>
</div>
