<form class="row gy-2">
  <div class="form-group col-md-2">
    <label for="Name" class="visually-hidden">Name</label>
    <input
      type="text"
      name="Name"
      id="Name"
      placeholder="Name"
      class="form-control"
      [(ngModel)]="nameInput"
    />
  </div>
  <div class="form-group col-md-2">
    <label for="LastName" class="visually-hidden">LastName</label>
    <input
      type="text"
      name="LastName"
      id="LastName"
      placeholder="LastName"
      class="form-control"
      [(ngModel)]="lastNameInput"
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="addPerson()">
      Agregar
    </button>
  </div>
</form>
